<br /><br />
<div class="board text-center offset-1 col-10">
  
</div>
<script>
  var drawboard = function() {
    for(var y = 0; y < 8; y++){
      $(".board").append('<div class="row y-' + y + '"></div>');
      for(var x = 0; x < 8; x++){
        var rowNumber = ".y-" + y; 
        var yPosition = Math.abs(y-7);
        if(y % 2 === 0){
          if (x % 2 === 0)
            $(rowNumber).append('<div class="black-square cell" id="' + x + '-' + yPosition +'"></div>');
          else
            $(rowNumber).append('<div class="white-square cell" id="' + x + '-' + yPosition +'"></div>');
        }
        else{
          if (x % 2 === 0)
            $(rowNumber).append('<div class="white-square cell" id="' + x + '-' + yPosition +'"></div>');
          else
            $(rowNumber).append('<div class="black-square cell" id="' + x + '-' + yPosition +'"></div>');
        }
      }
    }
  };
  
  var drawPiece = function(type, color, x, y){
      var symbol = "hello"

      if (color === "White"){
        if(type === "Pawn"){
          symbol = '&#9817';
        }
        else if(type === "Rook"){
          symbol = '&#9814';
        }
        else if(type === "Bishop"){
          symbol = '&#9815';
        }
        else if(type === "Queen"){
          symbol = '&#9813';
        }
        else if(type === "King"){
          symbol = '&#9812';
        }
        else if(type === "Knight"){
          symbol = '&#9816';
        }
      }
      else if(color === "Black"){
        if(type === "Pawn"){
          symbol = '&#9823';
        }
        else if(type === "Rook"){
          symbol = '&#9820';
        }
        else if(type === "Bishop"){
          symbol = '&#9821';
        }
        else if(type === "Queen"){
          symbol = '&#9819';
        }
        else if(type === "King"){
          symbol = '&#9818';
        }
        else if(type === "Knight"){
          symbol = '&#9822';
        }
      }

      htmlDiv = '<div class="chessPiece">' + symbol + '</div>';
      $('#' + x + '-' + y).html(htmlDiv);
  };

    var populateGame = function() {
        for ( x = 0; x < 8; x++) {
            drawPiece("Pawn", "Black", x, 1);
        }
        drawPiece("Rook", "Black", 0,0);
    }

  drawboard();
  populateGame();

  $('.cell').click(function(x){
      console.log(x.target.id);
  });
    

</script>