<br /><br />
<div class="board text-center offset-1 col-10">
  
</div>
<script>
var drawboard = function() {
    for (var y = 0; y < 8; y++) {
        $(".board").append('<div class="row y-' + y + '"></div>');
        for (var x = 0; x < 8; x++) {
            var rowNumber = ".y-" + y;
            var yPosition = Math.abs(y - 7);
            if (y % 2 === 0) {
                if (x % 2 === 0)
                    $(rowNumber).append('<div class="droppable black-square"  data-x-coord=' +
                        x + ' data-y-coord=' + yPosition + ' id="' + x + '-' + yPosition + '" ></div>');
                else
                    $(rowNumber).append('<div class="droppable white-square" data-x-coord=' +
                        x + ' data-y-coord=' + yPosition + ' id="' + x + '-' + yPosition + '"></div>');
            } else {
                if (x % 2 === 0)
                    $(rowNumber).append('<div class="droppable white-square" data-x-coord=' +
                        x + ' data-y-coord=' + yPosition + ' id="' + x + '-' + yPosition + '"></div>');
                else
                    $(rowNumber).append('<div class="droppable black-square" data-x-coord=' +
                        x + ' data-y-coord=' + yPosition + ' id="' + x + '-' + yPosition + '"></div>');
            }
        }
    }
};
  
  var drawPiece = function(type, color, x, y){
      var symbol = "hello"

      if (color === "White"){
        if(type === "Pawn"){
          symbol = '&#9817';
        }
        else if(type === "Rook"){
          symbol = '&#9814';
        }
        else if(type === "Bishop"){
          symbol = '&#9815';
        }
        else if(type === "Queen"){
          symbol = '&#9813';
        }
        else if(type === "King"){
          symbol = '&#9812';
        }
        else if(type === "Knight"){
          symbol = '&#9816';
        }
      }
      else if(color === "Black"){
        if(type === "Pawn"){
          symbol = '&#9823';
        }
        else if(type === "Rook"){
          symbol = '&#9820';
        }
        else if(type === "Bishop"){
          symbol = '&#9821';
        }
        else if(type === "Queen"){
          symbol = '&#9819';
        }
        else if(type === "King"){
          symbol = '&#9818';
        }
        else if(type === "Knight"){
          symbol = '&#9822';
        }
      }

      htmlDiv = '<div class="chessPiece" data-piece-id='+x+'-'+y+' data-x-coord='+x+' data-y-coord='+y+'>' + symbol + '</div>';
      $('#' + x + '-' + y).html(htmlDiv);
  };

    var populateGame = function() {
        for ( x = 0; x < 8; x++) {
            drawPiece("Pawn", "Black", x, 1);
        }
        drawPiece("Rook", "Black", 0,0);
        drawPiece("Knight", "Black", 1,0);
        drawPiece("Bishop", "Black", 2,0);
        drawPiece("King", "Black", 3,0);
        drawPiece("Queen", "Black", 4,0);
        drawPiece("Bishop", "Black", 5,0);
        drawPiece("Knight", "Black", 6,0);
        drawPiece("Rook", "Black", 7,0);

        for ( x = 0; x < 8; x++) {
            drawPiece("Pawn", "White", x,6);
        }
        drawPiece("Rook", "White", 0,7);
        drawPiece("Knight", "White", 1,7);
        drawPiece("Bishop", "White", 2,7);
        drawPiece("King", "White", 3,7);
        drawPiece("Queen", "White", 4,7);
        drawPiece("Bishop", "White", 5,7);
        drawPiece("Knight", "White", 6,7);
        drawPiece("Rook", "White", 7,7);
            
        };
    

  drawboard();
  populateGame();

  $(document).ready(function() {
    $('.chessPiece').draggable({
        snap: '.droppable',
        revert: 'invalid'
    });

    $('.droppable').droppable({
        drop: function(event, ui) {
            var piece = ui.draggable
            var destination_square = $(this);
            var update_piece = {
                id: piece.data('piece-id'),
                x_coordinate: destination_square.data('x-coord.to_i'),
                y_coordinate: destination_square.data('y-coord.to_i')
            }

            $.ajax({
                type: 'PATCH',
                url: '/games/' + update_piece.id,
                beforeSend: function(xhr) { xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content')) },
                dataType: 'json',
                data: { id: update_piece.id, x_coordinate: update_piece.x_coordinate, y_coordinate: update_piece.y_coordinate },
                success: function(data) {
                    destination_square.empty();
                    location.reload(true);
                }

            });
        }
    });
});
    

</script>