<br /><br />
<div class="board offset-1 col-10">
  
</div>
<script>
  $(function(){
    for(var y = 0; y < 8; y++){
      $(".board").append('<div class="row y-' + y + '"></div>');
      for(var x = 0; x < 8; x++){
        var rowNumber = ".y-" + y; 
        console.log(rowNumber);
        if(y % 2 === 0){
          if (x % 2 === 0)
            $(rowNumber).append('<div class="black-square x-' + x + '"></div>');
          else
            $(rowNumber).append('<div class="white-square x-' + x + '"></div>');
        }
        else{
          if (x % 2 === 0)
            $(rowNumber).append('<div class="white-square"></div>');
          else
            $(rowNumber).append('<div class="black-square"></div>');
        }
      }
    }
  })

</script>